
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <nav>
            <a routerLink="/" routerLinkActive="active">WALLY</a>
            <a routerLink="/dashboard" routerLinkActive="active">Investimentos</a>
            <a routerLink="/products" routerLinkActive="active">Produtos</a>
            <a routerLink="/cadastro" routerLinkActive="active">Cadastro</a>
            <a routerLink="/dados-mercado" routerLinkActive="active">Dados de mercado</a>
            </nav>
    </mat-toolbar-row>
</mat-toolbar>