<mat-tab-group>
    <mat-tab label="Cadastro de investimentos">
    <mat-card>
        <mat-card-title>Novo investimento</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form" >

                <mat-radio-group aria-label="Escolha uma opção" formControlName="categoria">
                    <mat-radio-button value="RF">Renda fixa</mat-radio-button>
                    <mat-radio-button value="RV">Renda variável</mat-radio-button>
                </mat-radio-group>

            </form>

            <form [formGroup]="formRF" *ngIf="form.value.categoria==='RF'">

                <mat-form-field>
                    <input matInput placeholder="Instituição" formControlName="instituicao" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Tipo de investimento" formControlName="tipoInvestimento" required>
                        <mat-option value="CDB">CDB</mat-option>
                        <mat-option value="LCI">LCI</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Tipo de rentabilidade" formControlName="tipoRentabilidade" required>
                        <mat-option value="CDI">CDI</mat-option>
                        <mat-option value="IPCA">IPCA</mat-option>
                        <mat-option value="PRE">PRE</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="dtAplicacao" placeholder="Data de aplicação"
                    formControlName="dtAplicacao" required>
                    <mat-datepicker-toggle matSuffix [for]="dtAplicacao"></mat-datepicker-toggle>
                    <mat-datepicker #dtAplicacao></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="dtVencimento" placeholder="Data de vencimento"
                    formControlName="dtVencimento" required>
                    <mat-datepicker-toggle matSuffix [for]="dtVencimento"></mat-datepicker-toggle>
                    <mat-datepicker #dtVencimento></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <input type="number" matInput placeholder="Taxa" formControlName="taxa" required>
                </mat-form-field>

                <mat-form-field>
                    <input type="number" matInput placeholder="Valor aplicado" formControlName="valorAplicado" required>
                </mat-form-field>

            </form>

            <form [formGroup]="formRV" *ngIf="form.value.categoria==='RV'">

                <mat-form-field>
                    <mat-select placeholder="Tipo de investimento" formControlName="tipoInvestimento" required>
                        <mat-option value="FII">FII</mat-option>
                        <mat-option value="ACAO">ACAO</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Código" formControlName="codigo" required>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="data" placeholder="Data"
                    formControlName="data" required>
                    <mat-datepicker-toggle matSuffix [for]="data"></mat-datepicker-toggle>
                    <mat-datepicker #data></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <input type="number" matInput placeholder="Quantidade" formControlName="quantidade" required>
                </mat-form-field>

                <mat-form-field>
                    <input type="number" matInput placeholder="Valor unitário" formControlName="valorUnitario" required>
                </mat-form-field>

            </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="onSubmit()" color="primary" [disabled]="formInvalid()">Salvar</button>
                <button mat-raised-button (click)="limpar()">Limpar</button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
    <mat-tab label="Cadastro de movimento">
        <mat-card>
            <mat-card-title>Novo movimento</mat-card-title>
        <mat-card-content>
            <form [formGroup]="formMovMain" >
                <mat-slide-toggle formControlName="importaArquivo" >Importar arquivo</mat-slide-toggle>
            </form>

            <form [formGroup]="formMovFile" *ngIf="formMovMain.value.importaArquivo">
                <mat-form-field class="fileInput">
                    <ngx-mat-file-input  placeholder="Arquivo de movimento" formControlName="arquivo" required></ngx-mat-file-input>
                    <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
            </form>

            <form [formGroup]="formMov" *ngIf="!formMovMain.value.importaArquivo">

                <mat-form-field>
                    <input matInput placeholder="Código" formControlName="codigo" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Tipo de movimento" formControlName="tipoMovimento" required>
                        <mat-option value="DIVIDENDO">DIVIDENDO</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="dataMov" placeholder="Data do movimento"
                    formControlName="data" required>
                    <mat-datepicker-toggle matSuffix [for]="dataMov"></mat-datepicker-toggle>
                    <mat-datepicker #dataMov></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <input type="number" matInput placeholder="Quantidade" formControlName="quantidade" required>
                </mat-form-field>

                <mat-form-field>
                    <input type="number" matInput placeholder="Valor unitário" formControlName="valorUnitario" required>
                </mat-form-field>

            </form>

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="onSubmitMov()" color="primary" [disabled]="formMovInvalid()">Salvar</button>
                <button mat-raised-button><a href="/assets/planilha_exemplo_movimentacoes.xlsx">Baixar planiha exemplo de movimentações</a></button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
</mat-tab-group>

<mat-card>
    <mat-card-title>Extrato</mat-card-title>
    <mat-card-content>
       <app-tabela-produtos #tabelaExtrato [tableInfo]="extrato.getTableInfo()"
       downloadPath="produtos/extrato/download"></app-tabela-produtos>
    </mat-card-content>
</mat-card>

