
<div class="dashboard">
    <mat-card class="card card-resumo">
        <mat-card-title>Produto renda variável</mat-card-title>

        <table mat-table [dataSource]="dataSource" >

            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
            </ng-container>

            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
            </ng-container>
        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </mat-card>

    <mat-card class="card card-evolucao">
        <mat-card-title>Evolução do patrimônio</mat-card-title>
        <app-line-chart #evolucao></app-line-chart>
    </mat-card>

    <mat-card class="card card-rentabilidade">
        <mat-card-title>Rentabilidade</mat-card-title>
        <app-line-chart #rentabilidade></app-line-chart>
    </mat-card>

    <mat-card class="card card-cotacao">
        <mat-card-title>Cotação</mat-card-title>
        <app-line-chart #cotacao></app-line-chart>
    </mat-card>
    
    <mat-card class="card card-dividendos">
        <mat-card-title>Dividendos</mat-card-title>
        <app-stacked-bar-chart #dividendos></app-stacked-bar-chart>
    </mat-card>

</div>