<div class="dashboard">
    <mat-card class="card card-resumo">
        <app-summary #summary titulo="Resumo"></app-summary>
    </mat-card>
    
    <mat-card class="card card-categoria">
        <app-pie-chart #proporcao titulo="Categoria de investimentos"></app-pie-chart>
    </mat-card>
    
    <mat-card class="card card-renda-variavel">
        <app-pie-chart #proporcaoRV titulo="Investimentos de renda variável"></app-pie-chart>
    </mat-card>
    
    <mat-card class="card card-instituicoes">
        <app-bar-chart #instituicoes titulo="Instituições"></app-bar-chart>
    </mat-card>
    
    <mat-card class="card card-liquidez">
        <app-bar-chart #liquidez titulo="Liquidez" direction="vertical"></app-bar-chart>
    </mat-card>
</div>
