<div class="dashboard">
    <mat-card class="card card-resumo">
        <app-summary #summary titulo="Resumo"></app-summary>
    </mat-card>
    
    <mat-card class="card card-categoria">
        <mat-card-title>Categoria de investimento</mat-card-title>
        <app-pie-chart #proporcao></app-pie-chart>
    </mat-card>
    
    <mat-card class="card card-instituicoes">
        <mat-card-title>Instituições de renda fixa</mat-card-title>
        <app-bar-chart #instituicoes titulo="Instituições"></app-bar-chart>
    </mat-card>
    
    <mat-card class="card card-liquidez">
        <mat-card-title>Liquidez</mat-card-title>
        <app-bar-chart #liquidez direction="vertical"></app-bar-chart>
    </mat-card>
    
    <mat-card class="card card-dividendos">
        <mat-card-title>Dividendos</mat-card-title>
        <app-stacked-bar-chart #dividendos></app-stacked-bar-chart>
    </mat-card>

    <mat-card class="card card-renda-variavel">
        <mat-card-title>Investimentos de renda variável</mat-card-title>
        <app-bar-chart #proporcaoRV></app-bar-chart>
    </mat-card>
</div>
