.dashboard {
    display: flex;
    margin: 10px 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    margin-right: 1rem;
    margin-bottom: 10px;
}

.card-resumo {
    width: calc(30% - 3rem);
}

.card-renda-variavel {
    width: calc(40% - 3rem);
}

.card-liquidez, .card-instituicoes {
    width:calc(50% - 3rem);
}

.card-dividendos {
    width:calc(60% - 3rem);
}

.card-evolucao {
    width:calc(70% - 3rem);
}

.card-rentabilidade {
    width: 100%;
}

.proporcao {
    margin-top: 0.5rem;
}
